/*       MAIN
---------------------*/
main {
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
}


/*      ARTICLE
---------------------*/
article {
    font-size: 1.5em;
    text-align: left;
    width: 50vw;
    margin: 0 auto;
}

.logo {
    max-width: 15em;
    margin: 0 auto;
}




/*   MEDIA QUERIES
---------------------*/
/* SMALL DESKTOP */
@media screen and (max-width: 1300px) {
    .logo {
        max-width: 400px;
        padding-bottom: 5em;
    }
    header {
        top: 2em;
    }
    article {
        top: 1em;
    }
}



/* TABLET  */
@media screen and (max-width: 1000px) {
    body {
        background-color: var(--bg-color);
    }
    main {
        width: 90vw;
        height: auto;
        top: 2em;
    }
    header h1 {
        display: none;
    }
    .logo {
        top: 3em;
    }
    article {
        width: 80vw;
    }
}




/* MOBILE  */
@media screen and (max-width: 790px) {
    body {
        height: auto;
    }
    article {
        top: 3em;
    }
    article p {
        padding-bottom: 1em;
        font-size: 0.7em;
    }
    .logo {
        top: 1em;
        max-width: 10em;
        padding-bottom: 1em;
    }
    footer p {
        font-size: 1em;
    }
}