/*       MAIN
---------------------*/
main {
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
}


/*      ARTICLE
---------------------*/
article {
    font-size: 1.5em;
    text-align: left;
    width: 50vw;
    margin: 0 auto;
}

.logo {
    max-width: 15em;
    margin: 0 auto;
}





/* TABLET  */
@media screen and (max-width: 1000px) {
    body {
        background-color: var(--bg-color);
    }
    header h1 {
        display: none;
    }
    article {
        width: 70vw;
        margin-top: 2em;
    }
}




/* MOBILE  */
@media screen and (max-width: 790px) {
    body {
        height: 100vw;
    }
    article {
        margin-top: 2em;
    }
    article p {
        padding-bottom: 1em;
        font-size: 1    em;
    }
    footer p {
        font-size: 1em;
    }
}