/*      SECTION
---------------------*/
main {
}

.bold {
  font-weight: 600 !important;
}

.games-in-cart {
  margin-top: 1em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: fit-content;
}

#empty-cart {
  height: 100vh;
}

.game-in-cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
  margin: 0 auto;
  gap: 1em;
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: 1em;
  background-color: white;
}

.game-in-cart p {
  margin: 0;
  top: 0;
}

.game-in-cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.game-in-cart-title {
  text-align: left;
  margin: 0;
}

.game-in-cart-image img {
  max-width: 5em;
}

.game-in-cart-description {
  text-align: left;
  font-size: 1em;
}

.game-in-cart-price {
  font-size: 1.2em;
  font-weight: 600;
}

.game-in-cart-info-row1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.game-in-cart-info-row2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.game-in-cart-button {
  font-size: 1em;
  padding: 10px 20px;
}

/*   MEDIA QUERIES
---------------------*/
/* SMALL DESKTOP */
@media screen and (max-width: 1300px) {
  .grid-container {
    gap: 3em;
    max-height: 40vh;
  }
  section {
    height: 60vh;
  }
}

/* TABLET  */
@media screen and (max-width: 1000px) {
  main {
    width: 100vw;
  }
  section {
    width: 90vw;
    top: 6em;
  }
  .grid-container {
    max-width: 70vw;
  }
  header h1 {
    display: none;
  }
  header {
    margin-top: 1em;
  }
  section p {
    font-size: 1.3em;
    top: 2em;
  }
  .cta-games {
    top: 7em;
  }
  .right-column p {
    margin-top: 5em;
  }
}

/* MOBILE  */
@media screen and (max-width: 790px) {
  .left-column img {
    max-width: 12em;
    margin-top: 0em;
    top: -5em;
  }
  .left-column {
    max-width: 70vw;
    height: 35vh;
    top: -3em;
    position: relative;
  }
  .right-column {
    max-width: 70vw;
    height: 35vh;
  }
  .right-column p {
    margin-top: -1em;
    font-size: 1em;
    width: 70vw;
  }
  .grid-container {
    gap: 0;
    /* max-height: 40vh; */
    width: 90vw;
    grid-template-columns: 1fr;
  }
  section {
    height: 80vh;
    top: 4em;
  }
  .section-footer {
    display: grid;
    grid-template-columns: 1fr;
    width: 70vw;
    gap: 1em;
    margin: 0 auto;
  }
  .cta {
    padding: 10px 30px !important;
    top: 0em;
  }
}
