/*      SECTION
---------------------*/
main {
}

.bold {
  font-weight: 600 !important;
}

.games-in-cart {
  margin-top: 1em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: fit-content;
}

#empty-cart {
  height: 100vh;
}

.game-in-cart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
  margin: 0 auto;
  gap: 1em;
  border: 1px solid var(--border-color);
  padding: 1em;
  border-radius: 1em;
  background-color: white;
}

.game-in-cart p {
  margin: 0;
  top: 0;
}

.game-in-cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.game-in-cart-title {
  text-align: left;
  margin: 0;
}

.game-in-cart-image img {
  max-width: 5em;
}

.game-in-cart-description {
  text-align: left;
  font-size: 1em;
}

.game-in-cart-price {
  font-size: 1.2em;
  font-weight: 600;
}

.game-in-cart-info-row1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.game-in-cart-info-row2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.game-in-cart-button {
  font-size: 1em;
  padding: 10px 20px;
}

/*   MEDIA QUERIES
---------------------*/
/* SMALL DESKTOP */
@media screen and (max-width: 1300px) {
  .grid-container {
    gap: 3em;
    max-height: 40vh;
  }
  section {
    height: 60vh;
  }
}

/* TABLET  */
@media screen and (max-width: 1000px) {
  main {
    width: 100vw;
    height: 100vh !important;
  }
  section {
    width: 90vw;
    top: 6em;
  }
  header h1 {
    display: none;
  }
  section p {
    font-size: 1.3em;
  }
  .games-in-cart {
    width: 90vw;
  }
}

/* MOBILE  */
@media screen and (max-width: 790px) {
  .games-in-cart {
    width: 100vw;
  }
  .game-in-cart {
    width: 90vw;
  }
}
