/*       MAIN
---------------------*/
main {
    position: absolute;
    width: 70vw;
    text-align: center;
    top: 1em;
    left: 50%;
    transform: translate(-50%);
    height: 120vh;

}


/*      SECTION
---------------------*/
section {
    max-width: 30vw;
    text-align: center;
    margin: 0 auto;
}

form {
    position: relative;
    display: grid;
    gap: 1.5em;
    margin-bottom: 2em;
}

label {
    font-size: 1.2em;
    margin-bottom: -1em;
    font-weight: 600;
}

input,
textarea {
    border-radius: 1em;
    border: 1px solid var(--border-color);
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;    background-color: var(--bg-color);
}

textarea {
    height: 12em;
    margin-bottom: 1.5em;
}


/*   MEDIA QUERIES
---------------------*/
/* SMALL DESKTOP */
@media screen and (max-width: 1300px) {
    header {
        top: 2em;
    }
    section {
        top: 1em;
    }
}



/* TABLET  */
@media screen and (max-width: 1000px) {
    header h1 {
        display: none;
    }
    header {
        margin-top: 5em;
    }
    section {
        max-width: 70vw;
    }
    main {
        width: 100vw;
    }
    input,
    textarea {
        padding: 5px;
        font-size: 1.3em;
    }
    .cta-message {
        font-size: 1.3em;
        padding: 10px 20px;
    }
}




/* MOBILE  */
@media screen and (max-width: 790px) {
    section {
        max-width: 80vw;
    }
}