/* DEFINE COLORS
---------------------*/
:root {
    --main-color: #1D2540;
    --bg-color: #E1E5EA;
    --border-color: #707070;
}



/* BODY AND UNIVERSAL
---------------------*/
body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h1 {
    font-size: 2.5em;
}




/*       MAIN
---------------------*/
main {
    position: absolute;
    width: 70vw;
    text-align: center;
    top: 1em;
    left: 50%;
    transform: translate(-50%);

}



/*       CTA
---------------------*/
.cta-sort {
    font-size: 1.2em;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: white;
    padding: 1px 30px;
    font-weight: 500;
}

.cta-sort:hover {
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
}

.sort-price i {
    margin-left: 10px;
    margin-right: -5px;
}

.cta-blue {
    border-radius: 2em;
    background-color: var(--main-color);
    padding: 10px 40px;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

.cta-to-top {
    position: relative;
    top: 3em;
}

.cta-to-top:hover,
.cta-sign-up:hover {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
}

.cta-sign-up {
    position: relative;
    top: 2em;
}




/*      HEADER
---------------------*/
main header {
    position: relative;
    top: 4em;
}

header a {
    font-size: 25px;
}

.sort-buttons {
    margin-bottom: 2em;
}

.sort-buttons a {
    margin-right: 1em;
}

.sort-price {
    margin-right: 0 !important;
}

/* SEARCHBAR */
.search-bar {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: white;
    padding: 1px 0px;
    height: 3.5em;
    max-width: 60vw;
    margin-bottom: 6em;
}

.search-bar input {
    font-size: 25px;
    border: 0;
    float: left;
    margin-top: 0.6em;
    margin-left: 1em;
    font-weight: 500;
    color: var(--main-color);
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2em;
    width: 90%;
}

.search-bar i {
    position: absolute;
    top: .9em;
    width: 1;
}

.search-bar:hover {
    border: 1px solid var(--main-color);
}

.search-bar input:focus {
    outline: none !important;
}



/*   MAIN CONTENT
---------------------*/
.display-container {
    position: relative;
    max-width: 55vw;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.game-display img {
    max-width: 10vw;
}

.game-display:hover {
    opacity: 0.8;
}

.display-title {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.display-price {
    font-size: 1.2em;
    margin-top: 0;
    padding-right: 0em;
}

.display-price strong {
    margin-left: 1.5em;
    font-size: 1.2em;
}


/* BOTTOM-CONTENT */
.seperator-line {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 60vw;
    border: 1px solid var(--main-color);
    top: 7em;
}

.newsletter {
    position: relative;
    top: 8em;
    margin-bottom: 6em;
    padding-bottom: 10em;
}

.newsletter p {
    font-size: 2.2em;
    font-weight: 500;
}

label {
    font-size: 1.2em;
    margin-bottom: -1em;
    font-weight: 600;
}

.newsletter input {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 2em;
    width: 27vw;
    border: 1px solid var(--main-color);
    border-radius: 2em;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    display: block;
}



/*   MEDIA QUERIES
---------------------*/
/* SMALL DESKTOP */
@media screen and (max-width: 1300px) {
    main header {
        top: 5em;
    }
    section {
       top: -1em;
    }
    .cta-sort {
        font-size: 1.1em;
    }
    .search-bar {
        height: 2.5em;
    }
    .search-bar input {
        font-size: 1.1em;
        margin-top: 0.3em;
        margin-left: 1em;
    }
    .search-bar i {
        top: .7em;
        right: .5em;
    }
    .newsletter {
        padding-bottom: 10em;
    }
}

/* TABLET  */
@media screen and (max-width: 1000px) {
    body {
        background-color: var(--bg-color);
    }
    main {
        width: 100vw;
        height: auto;
        top: 1em;
    }
    .cta-sort {
        font-size: 1.3em;
    }
    .search-bar {
        height: 2.5em;
        max-width: 90vw;
    }
    header h1 {
        display: none;
    }
    .display-container {
        max-width: 80vw;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .game-display img {
        max-width: 15vw;
    }
    .seperator-line {
        max-width: 90vw;
    }
    .cta-blue {
        font-size: 1em;
    }
    .newsletter input {
        height: 2em;
        width: 60vw;
        font-size: 1.5em;
    }
}

/* MOBILE  */
@media screen and (max-width: 790px) {
    .cta-sort {
        font-size: 1.2em;
        padding: 1px 10px;
        margin: 0 2em 0 1em !important;
    }
    .sort-price i {
        margin-left: 5px;
        margin-right: 0px;
    }
    .search-bar {
        height: 2.5em;
        max-width: 90vw;
    }
    .display-container {
        max-width: 80vw;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .game-display img {
        max-width: 35vw;
    }
    .game-display {
        margin-bottom: -3em;
    }
    .sort-buttons {
        margin-bottom: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
        white-space: nowrap;
    }
    .sort-price i {
        margin-left: 10px;
        margin-right: 0px;
    }
    .search-bar input {
        margin-top: 0.2em;
    }
    .newsletter input {
        height: 1em;
        width: 80vw;
        font-size: 1.5em;
    }
    .newsletter p {
        font-size: 1.5em;
    }
}
